html{
    background-image: linear-gradient(to right, #371909 0%, #F8EEE1 100%), url('../imagenes/pal594gr.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: multiply;

}

body{
    background-color: #F4E2D2;
    margin: 5% 10% 5% 10%;
}

main{
    color: #260700;
    padding: 2%;
    margin: 2%;
}

header{
    display: flex;
    background-color: #3E1000;
    padding: 1% 2%;
    justify-content: space-between;
    align-content: center;

}

header > h1{
    color: #D77F30;
    text-align: left;
}
menu{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

menu > ul{
    list-style: none;
    display: flex;
    white-space: nowrap;
    align-items: center;


}

menu > ul > li{
    float: none;
    position: relative;
    list-style: none;
    display: inline-block;
    padding-left: 1%;
    padding-right: 5%;
    font-size: 1.5em;
}

h1{
    color: #A4450C;
    text-align: center;
}

h2{
    color: #D77F30;
}

a{
    text-decoration: none;
    color: #A4450C;
}

menu a{
    color: #F4E2D2;
}

fieldset{
    margin-bottom: 2%;
}

fieldset ul{
    list-style: none;
}
.header{
    padding: 1% 0% 1%;
}

.header h2{
    font-size: 130%;
    font-style: italic;
    color: #3E1000;
}

.body{
    display: flex;
    margin-bottom: 2%;
}

.texto{
    margin: 1% 2% 1% 0%;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #A4450C;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    background-color: #3E1000;
    color: #F4E2D2;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.note{
    border-bottom: none;
}

.note .tooltiptext{
    width: 500px;
    text-align: justify;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}
